<style>
    .usb-register{
        max-width:500px;
        margin:0 auto;
    }
</style>

<div class="usb-register">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>Register Usb</legend>
    </fieldset>

    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">Device Description</label>
            <div class="layui-input-inline">
                <input type="text" name="deviceDescription" placeholder="Mass Storage Device" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Manufacturer</label>
            <div class="layui-input-inline">
                <input type="text" name="manufacturer" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Product</label>
            <div class="layui-input-inline">
                <input type="text" name="product" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Vid</label>
            <div class="layui-input-inline">
                <input type="text" name="vid" class="layui-input" lay-verify="required|number" lay-reqtext="number">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Pid</label>
            <div class="layui-input-inline">
                <input type="text" name="pid" class="layui-input" lay-verify="required|number" lay-reqtext="number">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">SerialNumber</label>
            <div class="layui-input-inline">
                <input type="text" name="serialNumber" class="layui-input" lay-verify="required" lay-reqtext="required">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id="submit">Submit</button>
            </div>
        </div>
    </form>
</div>

@section Script{ 
    <script>
        layui.use(['layer', 'form','miniTab'], function () {
            var layer = layui.layer,
                miniTab = layui.miniTab,
                form = layui.form;

            $('#submit').on('click', function () {
                let datas = $('form').serialize();
                $.ajax({
                    type: 'post',
                    url: '/usb/registerusb',
                    data: datas,
                    dataType: 'json',
                    success: function (json) {
                        if (json.code === 200) {
                            layer.alert(json.msg);
                        }
                        if (json.code === 400) {
                            layer.alert(json.msg);
                        }
                    }
                });
            });
        });       
    </script>
}
