@{
    var templateUrl = USBAdminHelp.WebHttpUrlPrefix + "/printer/templateList";
    var templateEditUrl = USBAdminHelp.WebHttpUrlPrefix + "/printer/templateEdit";

}

<div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>Template</legend>
    </fieldset>

    <div class="layui-input-inline">
        <button class="layui-btn" type="button" onclick="newTemplate()">
            <i class="layui-icon">&#xe654;</i> New Template
        </button>
    </div>

    <hr />
    <table id="index" lay-filter="index" class="layui-hide">
    </table>
</div>

<script type="text/html" id="template">
    @*<a class="layui-btn" href="javascript:;" layuimini-content-href="@templateDetailUrl?id={{d.id}}" data-title="Template Detail">Edit</a>*@
    <button type="button" class="layui-btn layui-btn-sm" onclick="editTemplate(this)" data-id="{{d.id}}">Edit</button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" data-id="{{d.id}}" onclick="delTemplate(this)">Delete</button>
</script>

@section Script{
    <script>
        layui.use(['form', 'table', 'miniTab', 'layer'], function () {
            var form = layui.form,
                table = layui.table,
                layer = layui.layer,
                miniTab = layui.miniTab;

            table.render({
                elem: '#index'
                , url: '@templateUrl'
                , page: true
                , cols: [[
                    { field: 'id', title: 'Id', width: 60, sort: true },
                    { field: 'siteName', title: 'SiteName', width: 200, sort: true },
                    { field: 'subnetAddr', title: 'Subnet', width: 200, sort: true },
                    { field: 'filePath', title: 'FilePath', width: 300 },
                    { fixed: 'right', title: 'Action', width: 200, toolbar: '#template'},
                ]]
            });

            miniTab.listen();
        });
    </script>

    <script>
        function editTemplate(btn) {
            let id = $(btn).attr('data-id');

            layer.open({
                type: 2,
                title: 'Edit',
                shade: 0.3,
                area: ['480px', '400px'],
                content: '@templateEditUrl' + '?Id=' + id,
                end: function () {
                    window.location.reload();
                }
            });
        }

        function newTemplate() {
            layer.open({
                type: 2,
                title: 'New Template',
                shade: 0.3,
                area: ['480px', '400px'],
                content: '@templateEditUrl',
                end: function () {
                    window.location.reload();
                }
            });
        }

        function delTemplate(btn) {
            layer.confirm('Delete ?', { icon: 3, title: 'Confirm' }, function (index) {
                let id = $(btn).attr('data-id');

                $.post('/printer/templateDelete', { Id: id }, function (json) {
                    layer.alert(json.msg, { title: 'Message' });
                    window.location.reload();
                }, 'json');

                layer.close(index);
            });
        }
    </script>
}